<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KAKAO_LOGIN</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NAVER_LOGIN</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(NidUrlScheme)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GOOGLE_LOGIN</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(REVERSED_GOOGLE_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>KEYCHAIN_ACCESS_TOKEN_KEY_RELEASE</key>
	<string>$(KEYCHAIN_ACCESS_TOKEN_KEY_RELEASE)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NidAppName</key>
	<string>$(NidAppName)</string>
	<key>NidClientID</key>
	<string>$(NidClientID)</string>
	<key>NidClientSecret</key>
	<string>$(NidClientSecret)</string>
	<key>NidUrlScheme</key>
	<string>$(NidUrlScheme)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
	</array>
</dict>
</plist>
